

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Barlow Semi Condensed";
    font-size: 13px;
    word-break: break-word;

}
:root{
    --f-size:22px;
}
section {
    display: grid;
    grid-template-columns: repeat(1, 330px);
    grid-template-rows: repeat(6, auto);
    justify-content: space-around;
    background-color: hsl(0, 0%, 81%);
    color: white;
}

.first, .seconde, .theerd, .fourth, .fiveth ,footer{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    margin: 10px 0;
    padding: 27px 25px;
}

.caption {
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;

}

img {
    border-radius: 50%;
}

.stait {
    opacity: 50%;
}

.history {

    opacity: 70%;
    font-size: calc(--f-size-7);
}

.info {
    margin: 15px 0;
    font-weight: 600;
    font-size: var(--f-size);
}

/* ----------------first--------------------- */

.first {
    background-color: hsl(263, 55%, 52%);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-position-x: 80%;
    background-repeat: no-repeat;
}

/* -------------------SECONDE---------------- */

.seconde {
    background-color: hsl(217, 19%, 35%);
    
}

/* ---------------theerd---------------- */
.theerd {
    background-color: hsl(0, 0%, 100%);
    color: black;
}

/* ----------------fourth------------- */

.fourth {
    background-color: hsl(219, 29%, 14%);
}

/* ----------------fiveth------------- */
.fiveth {
    background-color: hsl(0, 0%, 100%);
    color: black;
}
/* ---------------footer----------- */
footer{
    height: 200px;
}


/* --------------MADIA------------- */

@media only screen and (min-width:500px){
    section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,20%);
    grid-template-rows: 400px ;
    justify-content: space-evenly;
    background-color: hsl(0, 0%, 81%);
    color: white;
    }

    .first {
        grid-column: 1/3;
    }
    
    .fourth{
        grid-column: 2/4;
    }

    .fiveth{
        grid-row: 1/3;
        grid-column-start: 4;
    }
}